%p#notice.text-success= notice

.row
  .col-md-5.col-sm-6
    Message
  .col-md-2.col-sm-1
    User Name
  .col-md-3.col-sm-3
    Time Create
  .col-md-2.col-sm-2
    %a.btn.btn-primary.btn-lg{:href => "/new_post", :role => "button"} New Post
- @pos.each do |post_id|
  .row
    .col-md-5.col-sm-6
      = Post.find(post_id).msg
    .col-md-2.col-sm-1
      = User.find(Post.find(post_id).user_id).name
    .col-md-3.col-sm-3
      = Post.find(post_id).created_at
    .col-md-2.col-sm-2

