%h1 New post

= simple_form_for :post, url: "/new_post", method: :post  do |f|

  .form-inputs
    = f.input :msg

  .form-actions
    = f.button :submit, 'Create Post',class:"btn btn-primary mt-2"

= link_to 'Back', feed_path
